{% extends 'base.html' %}
{% block content %}
   {% if user.is_authenticated %}
      <p class="h4">Hi {{ user.username }}!</p>
      <section id="contant" class="contant main-heading" style="padding-bottom:0;margin-bottom:-1px;position:relative;z-index:1;">
         <div class="aboutus">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="full">
                           <h3>Who we are?</h3>
                           <p>We are a bunch of sports lovers who tries to keep in shape in a more and more fast moving world!
                               We are looking to create a unic environment for the ones which love sports like us, but
                               don't have enough time to organise a friends meeting with the porpoise of playing a Football, Tennis, Basket match
                               or any other sport available around them. This application will serve as a quick and easy way to attend an already organised match with
                               other players which use the same app.
                           </p>
                           <ul class="icon-list">
                              <li><i class="fa fa-angle-right"></i> You can book a field and add users!</li>
                              <li><i class="fa fa-angle-right"></i> You can join a field and play with strangers!</li>
                              <li><i class="fa fa-angle-right"></i> You can check what fields and games are playing in your city!</li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-5 col-sm-5 col-xs-12">
                        <img class="img-responsive" src="/static/assets/images/img-07.jpg" alt="#" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="dark-section" style="/static/assets/background:url(images/walle.jpg)">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <div class="heading-main">
                        <h2>Our Testimonials</h2>
                     </div>
                     <div class="testimonial-slider">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                           <!-- Carousel Slides / Quotes -->
                           <div class="carousel-inner text-center">
                              <!-- Quote 1 -->
                              <div class="item active">
                                 <blockquote>
                                    <div class="row">
                                       <div class="col-sm-10 col-sm-offset-1">
                                          <p>This app has made my life a joy, very easy to book and go for a nice game with whomever you want, friends, strangers, neighbors, even enemies!</p>
                                          <small>Denzel Washington</small>
                                       </div>
                                    </div>
                                 </blockquote>
                              </div>
                              <!-- Quote 2 -->
                              <div class="item">
                                 <blockquote>
                                    <div class="row">
                                       <div class="col-sm-10 col-sm-offset-1">
                                          <p>You really have to try this app. Whenever you feel like, you can go for a game in the city you are with no much preparation. I absolutely love football and Tennis and this app makes it so easy to go out. </p>
                                          <small>George Bush</small>
                                       </div>
                                    </div>
                                 </blockquote>
                              </div>
                              <!-- Quote 3 -->
                              <div class="item">
                                 <blockquote>
                                    <div class="row">
                                       <div class="col-sm-10 col-sm-offset-1">
                                          <p>If you feel like trying more sports or simply wanting to go out and do some physical activity but don't have much time, just like me, you must try this application. It's not only super easy to use, it is helping you get the courage to go and play.</p>
                                          <small>Barack Obama</small>
                                       </div>
                                    </div>
                                 </blockquote>
                              </div>
                           </div>
                           <!-- Bottom Carousel Indicators -->
                           <ol class="carousel-indicators">
                              <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt="">
                              </li>
                              <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt="">
                              </li>
                              <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                              </li>
                           </ol>
                           <!-- Carousel Buttons Next/Prev -->
                           <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                           <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      {% else %}
        <p>You are not logged in!</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}
{% endblock %}