{% extends 'base.html' %}
{% block content %}

    <div style="background-color: #c4e3f3">
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">

        <center><h3>All the events that you can join, below!</h3></center>
    <br/><br/><br/>
    <ul>
        {% for events in event_list %}


            <div class="card">
  <div class="card-header">
    Event:
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ events.city }}</h5>



    <p class="card-text">
<table class="table table-hover table-striped table-bordered">
            <strong>Address:</strong> {{ events.address }}<br/>

            <strong>Time:</strong> {{ events.time }}<br/>

            <strong>Date: </strong>{{ events.date }}<br/>

             <strong>Players:</strong> {{ events.no_of_players }} <br/> <div class="input-group quantity-selector quantity-selector-sm">
  <input type="number" id="inputQuantitySelectorSm" class="form-control" aria-live="polite" data-bs-step="counter" name="quantity" title="quantity" value="0" min="0" max="10" step="1" data-bs-round="0" aria-label="Quantity selector">
  <button type="button" class="btn btn-icon btn-secondary btn-sm" aria-describedby="inputQuantitySelectorSm" data-bs-step="down">
    <span class="visually-hidden">Join</span>
  </button>

</div> <br/>

            {% if join_link %}
    <a href="{{ join_link }}">join</a>
{% endif %}
{% if leave_link %}
    <a href="{{ leave_link }}">leave</a>
{% endif %}
{% if not join_link and not leave_link %}
    Sorry, you can't join yet, the app is not ready, but you can still play with the select button!
{% endif %}

</table>

            <br/><br/>
{% endfor %}


    </p>
</div>
  </div>



</ul>

     </div>
        </div>
{% endblock %}